<html>
    <body>
        <form action="/" method = 'POST'>
        Cities(1 or more)
        <input type = "text" name = "Input"><br>
        
        <button type="submit" value = "submit">Request</button>
        </form>
        {%if city_not_found %}
        <p> {{city_not_found}}</p>
        {%endif%}

        {%if name_of_city %}
        <p>Name of citie/s: {{name_of_city}}</p>
        {%endif%}

        {%if current_temp %}
        <p>Current temperature is : {{current_temp}} degrees Celsius</p>
        {%endif%}

        {%if current_humidity %}
        <p>Current humidity: {{current_humidity}} %</p>
        {%endif%}

        {%if sky %}
        <p>Sky description: {{sky}}</p>
        {%endif%}

        {%if min_temp %}
        <p>Minimum temperature is : {{min_temp}}</p>
        {%endif%}

       
        {%if  average_temp %}
        <p>Average temperature: {{average_temp}}</p>
        {%endif%}
    </body>
</html>
