<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherRequests</title>
</head>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
<body>
    <form action="input">
    Enter city: <input type="text" name="input"><br>
    <input type="submit" value="Request">
    </form> 
    {% block content %}
    {% if city_not_found %}  {{ city_not_found }} {% endif %}  {% if city_not_found_input %} {{ city_not_found_input }}  {% endif %}<br>
    Name of citie/s:  {% if name %} {{ name.0 }}, {{name.1}}, {{name.2}}, {{name.3}}, {{name.4}}{% endif %}   {{ name_of_city_input }}<br>
    Current temperature is: {% if cuurent_temp %} {{ cuurent_temp.0 }} °C, {{ cuurent_temp.1 }} °C, {{ cuurent_temp.2 }} °C, {{ cuurent_temp.3 }} °C, {{ cuurent_temp.4 }} °C {% endif %}  {{ current_temp_input }} °C<br>
    Current humidity:{% if current_humidity %} {{ current_humidity.0 }} %, {{ current_humidity.1 }} %, {{ current_humidity.2 }} %, {{ current_humidity.3 }} %, {{ current_humidity.4 }} % {% endif %}  {{ current_humidity_input }} %<br>
    Sky description:   {% if Sky_Descp %} {{ Sky_Descp.0 }}, {{ Sky_Descp.1 }}, {{ Sky_Descp.2 }}, {{ Sky_Descp.3 }}, {{ Sky_Descp.4 }} {% endif %}   {{ Sky_Descp_input }}<br>
    {% if min_temp %} Minimum temperature is : {{ min_temp }} °C {% endif %}<br>   
    {% if average_temp %} Average temperature: {{average_temp}} °C {% endif %}<br>    
    {% endblock %}
    <form action="table">
    <table border="1" width="600">
        {% if table %}
        <tr>
        <td>Id</td>
        <td>Cties name</td>
        <td>Temperature (°C) </td>
        <td>Humidity (%)</td>
        <td>Sky Conditions</td>
        </tr>
        
        {% for db in table %}
        <tr>
        <td>{{ db.id }}</td>
        <td>{{ db.name_of_city }}</td>
        <td>
        {{ db.current_temp }}</td>
        <td>
            {{ db.current_humidity }}</td>
        <td>
                {{ db.sky_cond }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </table>
    <input type="submit"  value="Show And Refresh DB">
    </form>
 COMPARE SECTION:
    <form action="Compare">
        ID1: <input type="text" name="input_first">
        ID2: <input type="text" name="input_second">
        <input type="submit" value="Compare Full Info"><br>
        

        </form> 
    <table border="1" width="600">                         
        {% if id1 %}
        <tr>                                                
        <td>Cties name</td>                                     
        <td>Temperature (°C) </td>             
        <td>Humidity (%)</td>                                   
        <td>Sky Conditions</td>                                 
        </tr>                                           
        
        {% for db in id1 %}
        <tr>
        <td>{{ db.name_of_city }}</td>
        <td>
        {{ db.current_temp }}</td>
        <td>
            {{ db.current_humidity }}</td>
        <td>
                {{ db.sky_cond }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        
        </table>
  
        <table border="1" width="600">                         
            {% if id2 %}
            <tr>                                                
            <td>Cties name</td>                                     
            <td>Temperature (°C) </td>             
            <td>Humidity (%)</td>                                   
            <td>Sky Conditions</td>                                 
            </tr>                                           
            
            {% for db in id2 %}
            <tr>
            <td>{{ db.name_of_city }}</td>
            <td>
            {{ db.current_temp }}</td>
            <td>
                {{ db.current_humidity }}</td>
            <td>
                    {{ db.sky_cond }}</td>
            </tr>
            {% endfor %}
            {% endif %}
            
            </table>
        

            </body>
</html>
