<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherRequests</title>
</head>
<body>
    <form action="input">
    Input: <input type="text" name="input"><br>
    <input type="submit">
    </form>
    {% block content %}
        {{ result.0 }}   {{ smth.0 }}<br>
        Name of citie/s:   {{ result.1 }}  {{ smth.1 }}<br>
        Current temperature is: {{ result.2 }}  {{ smth.2 }}<br>
        Current humidity: {{ result.3 }}   {{ smth.3 }}<br>
        Sky description:   {{ result.4 }}   {{ smth.4 }}<br>
        Minimum temperature is : {{ result.5 }}<br>   
        Average temperature: {{result.6}}
        
       
        
        
        
     
        
    {% endblock %}

    
</body>
</html>
